params {

fastqc_bin = "/root/miniconda3/envs/bnf/bin/fastqc"
trimmomatic_bin = "/root/miniconda3/envs/bnf/bin/trimmomatic"
bwa_bin = "/root/miniconda3/envs/bnf/bin/bwa"
samtools_bin = "/root/miniconda3/envs/bnf/bin/samtools"
bcftools = "/root/miniconda3/envs/bnf/bin/bcftools"

ref_genome = "C:\nf_pipeline\data\reference"
fastq_dir = "C:\nf_pipeline\data\sample_R1.fastq.gz"
}

process{
    executor = "local"

}